body {
  font-family: arial, sans-serif;
background: linear-gradient( to right,#4ca2cd, #4ca2cd,
#67b26f

    );
}
#city-input {
  background-color: #67b26f;
}


h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

#date-line {
  font-size: 9px;
  font-style: italic;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  position: relative;
  width: 600px;
  height: auto;
  margin-top: 4em;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: #d8f9e6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 69px;
  width: 69px;
}

.weather-temperature strong {
  color: rgb(41, 147, 173);
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 12px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#elements {
  padding-left: 99px;
}

.weather-forecast {

  margin-top: 20px;
  text-align: center;
  color: #000;
  padding-left: 81px;
}

.weather-forecast-date {
  font-size: 12px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 12px;
}
